/*Greating Home Page*/
#numberContact{
	width: 100%;
	text-align: right;
}

#welcome{
	text-align: center;
	font-size: 64px;
}

#welcomeText{
	background: rgb(255, 255, 255, 0.5);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	font-size: 24px;
}

#backgraoundImage{
	opacity: 0.5;
	width: 100%;
}

#buttonBar{
	background: #1B5A99;
}

.button{
	background: #1B5A99;
	border: 0;
	color: white;
	font-size: 24px;
}

.button:hover{
	background-color: #2271C0;
}

#text{
	margin: 25px;
}

#clientPortal{
	background: #1B5A99;
	color: white;
	font-size: 30px;
}

#firtLine{
	float: left;
	background: red;
	width: 35%;
}

#SecondLine{
	left: 100px;
	float: right;
	background: blue;
	width: 35%;

}


